*{
    padding:0;
    margin:0;
}
body{
    font-family: 'Montserrat', sans-serif !important;
}
.main_bg{
    height: 815px;
    background: url("../images/bg5.jpg") center center;
    background-size: cover;
}
.content-wrapper{
    margin-top: 50px;
}
.navbar {
    padding-top: 40px;
    transition: all 1.2s ease;
}
a:hover{
    color: #c9045e !important;
    font-weight: bold;
}
.aligner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.text{
    padding: 50px;
    border: 5px solid white;
}
.text>h1, .text>h5{
    text-align: center;
    color:white;
}
nav.scrolled {
    background-color: #c9045e !important;
    padding-top: 8px !important;
    transition: all .3s linear;
}
.scrolled a:hover{
    color: #fff !important;
}
.info-containers{
    text-align: center;
    padding: 15px;
}
.material-icons{
    font-size: 65px;
}
.info-headers{
    margin: 20px auto;
}